#title, .book, .container {
  max-width: $max-width;
  padding: $page-margin;

  @if $center-layout {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: $max-width) {
    padding: $page-margin ($page-margin * .5);
  }
}

.book {
  padding-top: $page-margin * 2;
}

@if $baseline-grid {
  .book > .titlepage,
  .book > .toc,
  .preface > .titlepage,
  .preface > .section,
  .preface > .para,
  .preface > .toc,
  .chapter > .section,
  .chapter > .para,
  .chapter > .toc {
    background-image: -webkit-linear-gradient(lightblue .05em, transparent .05em);
    background-size: 100% $line-height;
  }
}

// Table of Contents

.toc {
  a { text-decoration: none; }

  dt {
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    font-family: $font-family-body;
  }

  & > dt { font-weight: $font-weight-medium; }
  & > dd {
    padding-left: $gutter / 2;

    & > dl > dd {
      padding-left: $gutter;
    }
  }
}
