
// body {
//   padding-top: $title-height + $gutter;
// }

// #title {
//   position: fixed;
//   padding-top: ($page-margin / 4);
//   padding-bottom: ($page-margin / 4);
//   top: 0;
//   left: 0; right: 0;
//   background: $color-white;
//   z-index: 10000;
//   height: $title-height;
// }


#title {
  padding-top: ($page-margin / 2);
  padding-bottom: ($page-margin / 2);
  height: $title-height;
  @extend %clearfix;

  @media screen and (max-width: $max-width) {
    padding-left: ($page-margin * .5);
    padding-right: ($page-margin * .5);
  }

  .left, .right {
    text-decoration: none;
  }

  .left {
    float: left;

    img { display: block; }
  }

  .right {
    float: right;
    font-family: $font-family-headings;
    color: $color-black;

    &:before {
      content: 'Documentation';
      font-size: $title-height * .5;
      line-height: $title-height;
      font-weight: 600;
      text-transform: uppercase;
    }

    img { display: none; }
  }
}

.docnav {
  @extend %clearfix;
  position: relative;
  padding-top: $page-margin;
  padding-bottom: $page-margin * 2;
  text-align: center;
  font-family: $font-family-headings;

  a {
    text-decoration: none;
  }

  .previous, .next {
    position: absolute;
    top: $page-margin;
    width: 50%;

    a {
      font-family: $font-family-headings;
      line-height: 1em;
      display: block;
      text-transform: uppercase;
      font-weight: 400;
      @extend %icon;

      &:before {
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        line-height: 1em;
        font-size: 8em;
      }

      strong {
        display: none;
      }
    }

  }

  .previous {
    left: $page-margin;
    right: 50%;
    text-align: left;
    margin-right: $line-height / 2;

    a {
      @extend .icon-arrow-left;

      &:before {
        left: -.25em;
      }
    }
  }

  .next {
    right: $page-margin;
    text-align: right;
    left: 50%;
    margin-left: $line-height / 2;

    a {
      @extend .icon-arrow-right;

      &:before {
        right: -.75em;
      }
    }
  }

  .home, .up {
    display: inline-block;
  }

  .home a {
    left: $page-margin;
  }

  .up a {
    right: $page-margin;
  }


  &.top {
    display: none;

    a strong { display: block; }

    .home { display: none; }
  }
}




// Fixed Nav

$nav-width: 26em;

#floatingtoc { display: none; }

.fixed-nav {
  position: relative;
  padding-left: $nav-width;

  .book > .toc {
    position: absolute;
    top: 0; left: 0;
    width: $nav-width;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: $line-height;
    background: darken($color-white, 2.5%);
    @include box-sizing(border-box);

    &.fixed {
      position: fixed;
    }

    &.bottom {
      bottom: 0;
      top: auto;
    }
  }

  @media screen and (max-width: $breakpoint-medium) {
    .book > .toc {

    }
  }
}


@media screen and (max-width: 1200px) {

  $nav-width: 18em;

  .fixed-nav {
    padding-left: $nav-width;

    .book > .toc { width: $nav-width; }
  }

}


// Collapsible Menu

@media screen and (max-width: 980px) {

  $nav-width: 18em;

  .fixed-nav,
  .fixed-nav .book > .toc,
  .menu-toggle {
    @include transition(left 0.2s ease);
  }

  .fixed-nav {
    padding-left: 0;

    .book > .toc {
      left: -#{$nav-width} !important;
    }

    &.offset {
      left: $nav-width;

      .menu-toggle.fixed { left: $nav-width; }
      .book > .toc.fixed { left: 0 !important; }
    }
  }

  // This has to be divisible by two
  $menu-icon-stroke: 3px;
  $menu-icon-size: $menu-icon-stroke * 8;

  .menu-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    width: $menu-icon-size * 2;
    line-height: $menu-icon-size * 2;
    height: $menu-icon-size * 2;
    text-align: center;
    background: darken($color-white, 2.5%);

    &.fixed {
      position: fixed;
    }

    &:hover, &:active {
      background: $color-grey-lightest;
    }

    > span {
      display: block;
      height: $menu-icon-stroke;
      width: $menu-icon-size;
      background-color: $color-base-font;
      text-indent: -9999px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -$menu-icon-size / 2;
      margin-top: -$menu-icon-stroke / 2;
      @include border-radius(1px);

      @include transition(all 0.2s ease);

      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: $menu-icon-stroke;
        background-color: $color-base-font;
        @include transition(all 0.2s ease);
        @include border-radius($menu-icon-stroke / 2);
      }

      &:before { top: -($menu-icon-stroke * 2) }
      &:after { bottom: -($menu-icon-stroke * 2) }
    }
  }

  .fixed-nav.offset .menu-toggle > span {
    @include transform(rotate(45deg));

    &:before {
      top: 0;
      @include transform(rotate(90deg));
    }

    &:after { opacity: 0; }
  }

}
