// # Settings

// ## Typography

$font-family:                           'Open Sans', 'Helvetica Neue', sans-serif;
$font-family-body:                      $font-family !default;
$font-family-headings:                  'Overpass', $font-family;
$font-family-input:                     $font-family !default;
$font-family-icons:                     'redhat-books-icons' !default;
$font-family-mono:                      'Menlo', 'Monaco', 'Courier New', monospace !default;

$font-size:                             100% !default;
$font-size-level-one:                   3em !default;
$font-size-level-two:                   1.75em !default;
$font-size-level-three:                 1.5em !default;
$font-size-level-four:                  1.25em !default;
$font-size-level-five:                  1em !default;
$font-size-level-six:                   0.8em !default;

$line-height:                           1.8em !default;

$font-weight-normal:                    400;
$font-weight-medium:                    600;
$font-weight-bold:                      700;


//
// Colors
// ------

// Set some default color variables to keep things consistent

$color-white                            : #fff;
$color-black                            : #000;
$color-grey-lightest                    : lighten($color-black, 95);
$color-grey-lighter                     : lighten($color-black, 90);
$color-grey-light                       : lighten($color-black, 80);
$color-grey-lightish                    : lighten($color-black, 70);
$color-grey                             : lighten($color-black, 50);
$color-grey-darkish                     : lighten($color-black, 30);
$color-grey-dark                        : lighten($color-black, 20);
$color-grey-darker                      : lighten($color-black, 10);
$color-grey-darkest                     : lighten($color-black, 5);

// Themed color variables

$color-rh-red1                          : #cc0000;
$color-rh-red2                          : #a30000;
$color-rh-red3                          : #820000;
$color-rh-blue                          : #5bc6e8;
$color-rh-lightblue                     : #a3dbe8;
$color-rh-teal                          : #007a87;
$color-rh-darkblue                      : #0093d9;
$color-rh-navy                          : #004153;
$color-rh-green                         : #7ab800;
$color-rh-purple                        : #3b0083;
$color-rh-orange                        : #ec7a08;
$color-rh-yellow                        : #fecb00;

// Semantic color variables

$color-primary                          : $color-rh-red1;
$color-secondary                        : $color-rh-red3;
$color-tertiary                         : $color-rh-navy;
$color-base-font                        : $color-grey-darker;
$color-heading                          : $color-secondary;
$color-link                             : $color-primary;
$color-link-hover                       : shade($color-link, 20%);
$color-link-active                      : shade($color-link, 30%);;

// Background color
// Provide consistent hierarchy

$color-bg                               : #f4f4f4;
$color-bg-lightest                      : tint($color-bg, 80%);
$color-bg-lighter                       : tint($color-bg, 60%);
$color-bg-light                         : tint($color-bg, 40%);
$color-bg-dark                          : shade($color-bg, 3%);
$color-bg-darker                        : shade($color-bg, 6%);
$color-bg-darkest                       : shade($color-bg, 9%);

// Status color variables

$color-highlight                        : $color-rh-blue;
$color-success                          : $color-rh-green;
$color-warning                          : $color-rh-orange;
$color-unsure                           : shade($color-rh-yellow, 5%);
$color-danger                           : $color-rh-red2;

// Code

$code-bg-color                          : $color-grey-dark;
$code-color                             : $color-grey-light;

// Links

$link-color:                              $color-primary;
$link-color-hover:                        darken($link-color, 15%);
$link-color-active:                       darken($link-color, 25%);
$link-color-visited:                      lighten($link-color, 15%);

$main-link-color:                         $link-color;
$main-link-color-hover:                   darken($main-link-color, 15%);
$main-link-color-active:                  darken($main-link-color, 25%);
$main-link-color-visited:                 lighten($main-link-color, 15%);

$footer-link-color:                       $link-color;
$footer-link-color-hover:                 darken($footer-link-color, 15%);
$footer-link-color-active:                darken($footer-link-color, 25%);
$footer-link-color-visited:               lighten($footer-link-color, 15%);


// Buttons

$button-default-foreground-color:         $color-white;
$button-default-background-color:         $color-grey-dark;
$button-default-border-color:             $color-grey-darker;

$button-default-hover-foreground-color:   $color-white;
$button-default-hover-background-color:   $color-grey-darker;
$button-default-hover-border-color:       $color-grey-darkest;

$button-default-active-foreground-color:  $color-white;
$button-default-active-background-color:  $color-grey-darkish;
$button-default-active-border-color:      $color-grey-dark;

$button-submit-foreground-color:          $color-white;
$button-submit-background-color:          $color-primary;
$button-submit-border-color:              $color-primary;

$button-danger-foreground-color:          $color-white;
$button-danger-background-color:          $color-grey-dark;
$button-danger-border-color:              $color-grey-darker;

$button-submit-color:                     $color-primary;


// Inputs

$input-foreground-color:                  $color-black;
$input-background-color:                  $color-white;
$input-border-color:                      $color-grey-light;

$input-hover-foreground-color:            $color-grey-lightest;
$input-hover-background-color:            $color-grey-lightest;
$input-hover-border-color:                $color-grey-lightest;

$input-focus-foreground-color:            $color-black;
$input-focus-background-color:            $color-white;
$input-focus-border-color:                $color-rh-navy;


// Selects

$select-foreground-color:                 $color-black;
$select-background-color:                 $color-grey-lighter;
$select-border-color:                     $color-grey-light;

$select-hover-foreground-color:           $color-grey-lightest;
$select-hover-background-color:           $color-grey-lightest;
$select-hover-border-color:               $color-grey-lightest;

$select-focus-foreground-color:           $color-success;
$select-focus-background-color:           $color-success;
$select-focus-border-color:               $color-success;


// Breakpoints

$breakpoint-small:                        32em;
$breakpoint-medium:                       $breakpoint-small * 2;
$breakpoint-large:                        $breakpoint-medium * 2;


// Layout

$title-height: 42px;

$gutter:                                  $line-height * 1.5 !default;
$page-margin:                             $line-height * 2 !default;
$max-width:                               $breakpoint-medium !default;
$center-layout:                           true;


// Borders

$border-heavy-width:                      $line-height / 4;
$border-medium-width:                     $line-height / 8;
$border-light-width:                      thin;


// Debugging

$baseline-grid:                           false;


// Misc

$radius:                                  .15em;

