@import 'compass';

@import 'settings';

@import 'helpers/layout_helpers',
        'helpers/interactive_helpers';


#tocframe, .docnav {
  display: none !important;
}

html {
  height: 240mm;
}

.titlepage1 {
  height: 100%;
  padding-top: 15mm;
}
