.admonition_header {
  text-transform: uppercase;
  position: relative;
  top: - $line-height / 6;

  code { text-transform: none; }

  p {
    margin-bottom: 0;
  }
}

.note, .important, .warning {
  margin-bottom: $line-height;
}

.admonition {
  p:last-child, .para:last-child {
    margin-bottom: 0;
  }
}

.note, .important {
  padding-left: $line-height * 2.5;
  background-size: ($line-height * 1.5);
}

.note {
  background-image: url('../images/service_pattern_tile_positive.svg');
  background-repeat: repeat-y;
}

.important {
  background-image: url('../images/service_pattern_tile_negative.svg');
  background-repeat: repeat-y;
}

.warning {
  position: relative;
  background-color: $color-grey-dark;
  color: $color-white;
  padding: ($line-height * 0.667) ($line-height / 2);
  padding-left: $line-height * 2.5;
  @include border-radius(0.25em);
  @extend %icon;
  @extend .icon-warning;

  &:before {
    position: absolute;
    font-size: $line-height * 1.5;
    top: $line-height / 5;
    left: $line-height / 5;
  }
}
