table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin: 0 0 $line-height;
  border: thin solid $color-grey-light;
  font-size: 0.9em;

  caption, th, td {
    vertical-align: top;
    padding: $line-height / 2;
  }

  caption {
    font-weight: $font-weight-medium;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  th {
    font-weight: $font-weight-medium;
  }

  thead tr { 
    background-color: $color-grey-lighter;

    &.no-wrap {
      th { 
        vertical-align: center; 
        @include ellipsis;
        line-height: $line-height + $line-height / 2;
      }
    }
  }

  tbody tr {
    border-top: thin solid $color-grey-light;

    th {
      background-color: $color-grey-lighter;
      font-weight: $font-weight-medium;
    }

    &.no-wrap {
      td, th { 
        vertical-align: center; 
        @include ellipsis;
        line-height: $line-height + $line-height / 2;
      }
    }
  }

  tfoot {
    color: $color-grey;
    tr {
      border-top: thin solid $color-grey-light;
    }
  }
  
  &.fixed {
    table-layout: fixed;
    @include box-sizing( border-box );
    * {
      @include box-sizing( border-box );
    }
  }
}
