.toc {
  a {
    text-decoration: none;
    color: $color-grey-darkish !important;

    &:hover {
      color: $color-grey !important;
    }
  }

  dt {
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  & > dt {
    border-bottom: .125em solid #eee;
    padding-bottom: .25em;
    margin-bottom: 1em;
    font-weight: 700;
    font-family: $font-family-headings;
    text-transform: uppercase;
  }

  & > dd {
    padding-left: $gutter / 2;

    & > dl > dd {
      padding-left: $gutter;
    }
  }
}
