html {
  font-family: $font-family-body;
  color: $color-base-font;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p, .para {
  margin-bottom: $line-height;
}

%em { font-style: italic; }

em,
i,
cite,
.package,
.citetitle { @extend %em; }

b,
strong { font-weight: $font-weight-bold; }

small { font-size: 0.8em; }

s { font-style: strike-through; }

u { text-decoration: underline; }

q {
  &:before { content: '\0022'; }
  &:after { content: '\0022'; }
}

dfn {}

abbr {
  cursor: help;
  border-bottom: thin dotted;
}

time {}

sub {
  font-size: 0.8em;
  position: relative;
  bottom: - $line-height / 6;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: - $line-height / 4;
}

mark {
  background-color: $color-highlight;
}

ins {
  background-color: $color-success;
}

del {
  background-color: $color-danger;
}

hr {
  width: 3em;
  height: 0;
  margin-top: $line-height;
  margin-bottom: $line-height;
  border: none;
  border-top: thin solid;
  border-top: .125em solid #555;
}

